body{
    background-color: black;
    margin:0;
    padding:0;
}



.gym-item-card{ 
    height: auto;
    width:280px;
    background-color: rgb(60, 59, 59);
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    border: whitesmoke 2px solid;

}

 .gym-item-card:hover{
    box-shadow: 0px 0px 2px 2px whitesmoke;
    transition: 0.7;
    cursor: pointer;
 }

.gym-item-title{
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
    border: 3px white;

}

.gym-item-description{
font-size: small;
font-family: 'Courier New', Courier, monospace;
color:aliceblue;

}

.price{
    font-size:medium;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:aliceblue;


}

.order-now-btn{
    border-radius: 5px ;
}

.order-now-btn:hover{
    box-shadow: 0px 0px 2px 3px white;
    padding: 5px 23px;
    transition: 0.6;
    background-color: crimson;
    color: white;
    font-size: medium;
}

.gym-item-image{
    height:330px;
    width: 230px;
    border: 3px solid black;
}

.gym-item-container{
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    
}

@media screen and(max-width: 500px){
    .gym-item-image{
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}